@addTagHelper *, Vite.AspNetCore
@{
  // ENTRY POINT FOR ADMIN USER NEW UI (Vue.js)
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Vue.JS Boot</title>
    <link rel="stylesheet" vite-href="~/src/mynd.js" asp-append-version="true" />
    <script type="module" vite-src="~/src/mynd.js" asp-append-version="true"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
