
@{
    ViewBag.Title = "Reception";
    ViewBag.CurrentNav = "Reception";
    Layout = "_Layout";
}

<h2>Welcome to Reception (Client View).</h2>

<div class="action-section" style="max-width: 800px; background-color: #c4d3ff">
    <p>NOTHING HERE</p>
</div>

<h3>Quick actions:</h3>
