@model VueViteSampleApp.Models.View.MyND.ReceptionModel
@{
    ViewBag.Title = "Reception";
    ViewBag.CurrentNav = "Reception";
    Layout = "_MyND";
}

<h2>MyND: Reception</h2>
<div class="action-section" style="max-width: 800px; background-color: #c4d3ff">
    <a asp-area="MyND" asp-controller="Ui" asp-action="Index">Launch New UI</a>
</div>


<p>Upcoming appointments this week: </p>

<h2>Recent Bookings</h2>
<p>Todo.</p>

<h2>Recent Cancellations</h2>
<p>Todo.</p>

<h2>Priority Items</h2>
<p>Todo.</p>

<h2>Statistics</h2>
<p>$x Clients, $x appointments completed</p>